
Core/.classpath
*.jar
Core/.classpath
*.gz
*.log
*.jar
*.properties
Core/server/logs/latest.log
Core/server/plugins/Core.jar
Core/server/plugins/Core/config.yml
Core/server/plugins/Core/customitems.yml
Core/server/plugins/Essentials/userdata/3d49da81-b821-4326-bc0e-4489268921b6.yml
Core/server/server.properties
Core/server/spigot.yml
Core/server/usercache.json
Core/server/world/advancements/3d49da81-b821-4326-bc0e-4489268921b6.json
Core/server/world/data/raids.dat
Core/server/world/datapacks/bukkit/pack.mcmeta
Core/server/world/level.dat
Core/server/world/level.dat_old
Core/server/world/playerdata/3d49da81-b821-4326-bc0e-4489268921b6.dat
Core/server/world/poi/r.-1.0.mca
Core/server/world/region/r.-1.-1.mca
Core/server/world/region/r.-1.0.mca
Core/server/world/session.lock
Core/server/world/stats/3d49da81-b821-4326-bc0e-4489268921b6.json
Core/server/world_nether/DIM-1/data/raids_nether.dat
Core/server/world_nether/DIM-1/region/r.-1.-1.mca
Core/server/world_nether/DIM-1/region/r.-1.0.mca
Core/server/world_nether/DIM-1/region/r.0.-1.mca
Core/server/world_nether/DIM-1/region/r.0.0.mca
Core/server/world_nether/level.dat
Core/server/world_nether/level.dat_old
Core/server/world_nether/session.lock
Core/server/world_the_end/DIM1/data/raids_end.dat
Core/server/world_the_end/DIM1/region/r.-1.-1.mca
Core/server/world_the_end/DIM1/region/r.-1.0.mca
Core/server/world_the_end/DIM1/region/r.0.-1.mca
Core/server/world_the_end/DIM1/region/r.0.0.mca
Core/server/world_the_end/level.dat
Core/server/world_the_end/level.dat_old
Core/server/world_the_end/session.lock
